.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.score_board{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.total_score {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.5rem;
    align-items: center;
}

.total_score p{
    font-size: 6.25rem;
    line-height: 5rem;
}
.numbers{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.numbers div{
    display: flex;
    gap: 10px;
}
.numbers p{
    align-self:flex-end;
    font-size: 1.5rem;
    font-weight: 700;
}

.play_ground{
    text-align: center;
    align-self: center;
}
.dice{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

}

.dice p{
    font-size: 24px;
    font-weight: 500;
}

.btns{
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}